# =========================
# Dependencias
# =========================
node_modules/

# =========================
# Builds / outputs
# =========================
dist/
build/

# =========================
# Logs
# =========================
logs
*.log
npm-debug.log*

# =========================
# Environment variables
# =========================
.env

# =========================
# Cache
# =========================
.npm

# =========================
# System files
# =========================
.DS_Store

# =========================
# IDE / Editors
# =========================
.idea/
.vscode/